body{
	background-color: black;
}
#header{
	background-color: black;
	width: 100%;
	height: 400px;
	position: relative;
	border: 5px solid #663399;
	
}
#header ul{
	position: absolute;
	right: 0px;
	bottom: -15px;

}
li{
	display: inline;
	
}
.container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 390px;
	width: 600px;
	position: center;
}
.rat{
	height: 60px;
	width: 60px;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid white;
}
#mail{
	text-align: center;
	font-size: 25px;
}
#sam{
	text-align: center;
}
.butts{
	margin-left: 40px;
	margin-right: 60px;
	height: 200px;
	width: 200px;
	position: relative;
	padding: 75px;
	border-style: inset;
	border-width: 10px;
	border-bottom-color: #383838;
	border-left-color: #202020;
	border-right-color: #202020;
	border-top-color: #383838;
	

}

h2{
	color: white;
	font-size: 50px;	

}